*{
    box-sizing: border-box;
    margin: 0; /* Reiniciamos los márgenes */
    padding: 0;
}

.container{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 50%;
    height: 200px;
    
}
.form-control{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-section{
    display: flex;
    flex-direction: column;
}
.label-form{
    display: flex;
    justify-content: start;
}
.form-submit{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}